*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto Flex";
    
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #EEEBE6;
    transition: 0.5s;

}

body.active{
    background: green;
}


.container{

    
    position: relative;
    width: 800px;
    height: 500px;
    margin: 20px;
}

.bg{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 40px;
    width: 100%;
    height: 420px;
    background: #EEEBE6;
    box-shadow: 0 5px 45px rgb(0, 0, 0.15);
   
}

.bg .box{
    position: relative;
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.bg .box h2{
   color: black;
   font-size: 1.2em;
   font-weight: 500;
   margin-bottom:10px ;
}

.bg .box button{
    cursor: pointer;
    background: white;
    padding: 10px 20px;
    color: black;
    font-size: 16px;
    font-weight: 500;
    border: none;

}

.form1{
    position:absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background: white;
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 5px 45px rgb(0, 0, 0.25) ;
    transition: 0.5s ease-in-out;
    overflow: hidden;
}

.form1.active{
    left: 50%;

}

.form1 .f{
    position: absolute;
    left: 0;
    width: 100%;
    padding: 50px;
    transition: 0.5s;
}

.form1.active  .Log{
    left: -100%;
    transition-delay: 0s;

}

.form1  .Log{
    transition-delay: 0.25s;
}

.form1 .f form{
    width: 100%;
    display: flex;
    flex-direction: column;

}

.form1  .Sign{
    left: 100%;
    transition-delay: 0;
}

.form1.active  .Sign{
    left: 0;
    transition-delay: 0.25s;
}
   




.form1 .f form h3{
    font-size: 1.5em;
    color: black;
    margin-bottom: 20px;
    font-weight: 500;
}

.form1 .f form input{
    width: 100%;
    margin-bottom: 20px;
    padding: 10px;
    outline: none;
    font-size: 16px;
    border: 1px solid ;

}

.form1 .f form input[type="submit"]{
    background-color: bisque;
    border: none;
    color: black;
    max-width: 100px;
    cursor: pointer;

}



